<!DOCTYPE html>
<html lang = "pt-br" ng-app="myApp">
<head>
        <meta charset="utf-8" />
        <title>click</title>
       <!--importar angularjs-->
        <script src= "./angular.min.js"></script>
         
    </head>
    <body ng-controller="control">
        <div>
            <h1>{{titulo}}<h1>
            <input type="text" placeholder="Digite seu nome..." ng-model="nome"/>
            <hr>

            <input type="button" value="Clique aqui" ng-click="clicou()"/>
            <input type="button" value="Exibir nome" ng-click="exibirNome(nome)"/>
            </hr>
        </div>
        <script src = "03-click.controller.js"></script>
    </body>
</html>